* {
    margin-top: 0;
}

body {
    background-color: bisque;
    height: 100vh;
    margin: 0;
    font-size: 1.1em;
    font-family: Helvetica, Arial, sans-serif;
}

.super-dutch-mode {
    background: linear-gradient(
        to bottom, 
        rgb(204, 13, 13) 33.33%, 
        rgb(226, 226, 226) 33.33%, 
        rgb(226, 226, 226) 66.66%, 
        rgb(12, 12, 207) 66.66%
    );
    background-size: 150px 100%;
}

main {
    margin: 1em 1em;
}

h2 {
    margin-top: 0.5em;
}

button {
    margin-bottom: 0.5em;
    font-size: 1.1em;
}

.question {
    border-style: solid;
    margin-bottom: 1em;
    padding: 0.5em 0.5em;
}

